/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* =RESET
----------------------------------------------- */
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-style: normal;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img { max-width: 100%; }

/* =FLOAT CLEAR
----------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

/* =LINKS
----------------------------------------------- */
a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

/* =GLOBAL
----------------------------------------------- */
@font-face {
    font-family: 'amatic-regular';
    src: url('../assets/fonts/AmaticSC-Regular.ttf');
}
@font-face {
    font-family: 'amatic-bold';
    src: url('../assets/fonts/Amatic-Bold.ttf');
}
@font-face {
    font-family: 'neo-drawing';
    src: url('../assets/fonts/NEORD.ttf');
}
@font-face {
    font-family: 'quicksand-light';
    src: url('../assets/fonts/Quicksand-Light.otf');
}

body {
    background: url(../img/theater_proofed.jpg) 0 0 no-repeat;
    background-attachment: fixed;
    background-size: auto;
    color: #333;
    font-family: "museo-slab";
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
    width: 100%;
}

#container {
    display: block;
    height: 100vh;
    left: 0;
    position: relative;
    width: 400%;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 70em;
}

section {
    display: inline-block;
    float: left;
    height: 100vh;
    overflow-y: hidden;
    padding-top: 110px;
    text-align: center;
    width: 1900px;
}

section article {
    margin-top: 200px;
    padding: 20px;
    text-align: left;
}

section p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1em;
}

h3 {
    color: 333;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

h3::before, h3::after {
    content: "=";
    display: inline-block;
    margin: 0 2em;
    -webkit-transform: scaleX(8);
    -moz-transform: scaleX(8);
    transform: scaleX(8);
}


/* =NAVIGATION
----------------------------------------------- */
header {
    background: rgba(239,102,68,0.99);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    height: 110px;
    position: fixed;
    top: 0;
    width: 100vw;
}

#navMain {
    height: 100%;
    margin: 0 auto;
    width: 62em;
}

#navMain ul {
    margin-top: 40px;
}

#navMain ul li {
    display: inline;
    margin-right: 40px;
}

#navMain ul li:last-child {
    margin-right: 0;
}

#navMain ul li a {
    font-family: 'quicksand-light';
    font-size: 1.5em;
    text-transform: uppercase;
}

.navLeft {
    float: left;
}

.navRight {
    float: right;
}

#branding {
    background: url(../img/monkey_branding.svg);
    display: inline-block;
    height: 114px;
    left: calc(50% - 93px/2);
    position: absolute;
    width: 93px;
    -webkit-transform: scale(0.8);
}

/* =HOME SECTION
----------------------------------------------- */
#home {
    background: url(../img/proboscis.jpg) no-repeat 0 0 transparent;
    background-size: cover;
    height: 100vh;
}

#home img {
    left: 200px;
    opacity: 0.4;
    position: absolute;
    top: 130px;
}

#hdOverlay {
    background: rgba(193,86,59,0.3);
    height: 100vh;
}

/* =SPLASHTYPE
----------------------------------------------- */
#splashType {
    color: #FFF;
    display: block;
    line-height: 1;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    width: 85%;
    z-index: 100;
}

#splashType em {
    display: block;
    font-family: 'amatic-bold';
}

.lightText {
    display: block;
    font-family: 'amatic-regular';
}

.logText {
    font-family: 'neo-drawing';
}

/* =ABOUT
----------------------------------------------- */
#about {
    background: green;
}

/* =PRECAUTIONS
----------------------------------------------- */
#precautions {
    background: yellow;
}

/* =SOLUTIONS
----------------------------------------------- */
#solutions {
    background: brown;
}




@media only screen
and (max-width: 600px) {

}


@media only screen
and (min-width: 200px)
and (max-width: 700px) {    

    
    
    



@media only screen
and (min-width: 1024px) {

    body { background-size: cover; }
    

    
}
