/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* =RESET
----------------------------------------------- */
* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-style: normal;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img { max-width: 100%; }

/* =FLOAT CLEAR
----------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

/* =LINKS
----------------------------------------------- */
a:link, a:visited {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

/* =GLOBAL
----------------------------------------------- */
@font-face {
    font-family: 'amatic-regular';
    src: url('../assets/fonts/AmaticSC-Regular.ttf');
}
@font-face {
    font-family: 'amatic-bold';
    src: url('../assets/fonts/Amatic-Bold.ttf');
}
@font-face {
    font-family: 'neo-drawing';
    src: url('../assets/fonts/NEORD.ttf');
}
@font-face {
    font-family: 'quicksand-light';
    src: url('../assets/fonts/Quicksand-Light.otf');
}
@font-face {
    font-family: 'quicksand-regular';
    src: url('../assets/fonts/Quicksand-Regular.otf');
}

body {
    color: #333;
    font-family: "museo-slab";
    font-size: 100%;
    height: 100%;
    line-height: 1.45;
    overflow: hidden;
    width: 100%;
}

#container {
    display: block;
    height: 100vh;
    left: 180px;
    position: relative;
    width: calc(400% - 720px);
}

.wrapper {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 70em;
}

section {
    display: block;
    float: left;
    height: 100vh;
    position: relative;
    text-align: center;
}

section article {
    padding: 20px 100px;
    text-align: left;
}

section p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1em;
}

h3 {
    color: #FFF;
    font-family: 'quicksand-regular';
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

h3::before, h3::after {
    content: "=";
    display: inline-block;
    margin: 0 2em;
    -webkit-transform: scaleX(8);
    -moz-transform: scaleX(8);
    transform: scaleX(8);
}


/* =NAVIGATION
----------------------------------------------- */
header {
    background: rgba(32,32,32,0.99);
    height: 100%;
    left: 0;
    padding-top: 20px;
    position: fixed;
    width: 180px;
    z-index: 1000;
}

#navMain ul {
    margin-top: 0px;
    width: 100%;
}

#navMain ul li {
    display: block;
}

#navMain ul li a {
    display: block;
    font-family: 'quicksand-regular';
    font-size: 1em;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
}

#navMain ul li a:hover {
    background: #FFF;
    color: #202020;
}

.active {
    background: #FFF;
    color: #202020 !important;
}

#branding {
    bottom: 20px;
    height: 60px;
    padding-left: 20px;
    position: absolute;
    text-align: center;
    width: 60px;
}

.prev, .next {
    cursor: pointer;
    display: block;
    font-size: 10em;
    height: 100vh;
    position: fixed;
    text-align: center;
    width: 6%;
    z-index: 10000;
    -webkit-transition: all linear 0.5s;
}

.prev {
    opacity: 0;
    left: 0;
}

.next { right: 0; }

.prev:hover, .next:hover { background: rgba(20,20,20,0.2); }

.prev img, .next img { margin-top: calc(979px/2 - 148px); }

.prev img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);    
}

/* =HOME SECTION
----------------------------------------------- */
#home {
    background: url(../img/proboscis.jpg) no-repeat 0 0 transparent;
    background-size: cover;
}

#hdOverlay {
    background: rgba(193,86,59,0.2);
    height: 100vh;
}

/* =SPLASHTYPE
----------------------------------------------- */
#splashType {
    color: #FFF;
    display: block;
    line-height: 1;
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    width: 85%;
    z-index: 100;
}

#splashType em {
    display: block;
    font-family: 'amatic-bold';
}

.lightText {
    display: block;
    font-family: 'amatic-regular';
}

.logText {
    font-family: 'neo-drawing';
}

/* =ABOUT
----------------------------------------------- */
#about {
    background: #FFF;
}

/* =PRECAUTIONS
----------------------------------------------- */
#precautions {
    background: yellow;
}

/* =SOLUTIONS
----------------------------------------------- */
#solutions {
    background: brown;
}




@media only screen
and (max-width: 600px) {

}


@media only screen
and (min-width: 200px)
and (max-width: 700px) {    

    
    
    



@media only screen
and (min-width: 1024px) {

    body { background-size: contain; }
    

    
}

#navMain ul li {
    display: none;
}

span {
    
}


